
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLeaseLabel" data-translate="labratApp.lease.home.createOrEditLabel">Create or edit a Lease</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lease.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lease.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="labratApp.lease.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.lease.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startDate.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="labratApp.lease.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}" ng-model="vm.lease.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="labratApp.lease.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.lease.status" id="field_status">
                <option value="ACTIVE" data-translate="labratApp.LeaseStatus.ACTIVE">ACTIVE</option>
                <option value="COMPLETED" data-translate="labratApp.LeaseStatus.COMPLETED">COMPLETED</option>
                <option value="CANCELED" data-translate="labratApp.LeaseStatus.CANCELED">CANCELED</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="labratApp.lease.device" for="field_device">Device</label>
            <select class="form-control" id="field_device" name="device" ng-model="vm.lease.deviceId" ng-options="device.id as device.name for device in vm.devices"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="labratApp.lease.participant" for="field_participant">Participant</label>
            <select class="form-control" id="field_participant" name="participant" ng-model="vm.lease.participantId" ng-options="participant.id as participant.id for participant in vm.participants"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
