<div>
    <h2 data-translate="labratApp.lease.home.title">Leases</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="leasemySuffix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="labratApp.lease.home.createLabel">
                        Create new Lease
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="labratApp.lease.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="labratApp.lease.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="labratApp.lease.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deviceName"><span data-translate="labratApp.lease.device">Device</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="participantId"><span data-translate="labratApp.lease.participant">Participant</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lease in vm.leases track by lease.id">
                    <td><a ui-sref="leasemySuffix-detail({id:lease.id})">{{lease.id}}</a></td>
                    <td>{{lease.startDate | date:'medium'}}</td>
                    <td>{{lease.endDate | date:'medium'}}</td>
                    <td data-translate="{{'labratApp.LeaseStatus.' + lease.status}}">{{lease.status}}</td>
                    <td>
                        <a ui-sref="devicemySuffix-detail({id:lease.deviceId})">{{lease.deviceName}}</a>
                    </td>
                    <td>
                        <a ui-sref="participantmySuffix-detail({id:lease.participantId})">{{lease.participantId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="leasemySuffix-detail({id:lease.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="leasemySuffix.edit({id:lease.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="leasemySuffix.delete({id:lease.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
